builds/CMakeCache.txt
builds/CMakeFiles/
builds/.cmake
builds/WebIDLGrammar.pkl
builds/bullet/
builds/cmake_install.cmake
builds/glue.cpp
builds/glue.js
builds/glue.o
builds/parser.out
node_modules
*.diff

# Make generator
builds/Makefile
# Ninja generator
builds/.ninja_deps
builds/.ninja_log
builds/build.ninja
builds/rules.ninja

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# vscode
.vscode/
builds/compile_commands.json